<br>
  <div class='container'>

    <% case @language.name %>
      <% when "English" %>
        <%= render 'profile/english' %>

      <% when "Français" %>
        <%= render 'profile/french' %>

      <% when "Português" %>
        <%= render 'profile/portuguese' %>

      <% when "Español" %>
        <%= render 'profile/spanish' %>
    <% end %>
  </div>
<br>
