<div class='card-edu'>
  <div class='logo-edu'>
    <%= link_to(image_tag(locals[:link_img]), locals[:link_site]) %>
  </div>
  <div class="content">
    <div class='space_between'>
      <div>
        <h5><%= locals[:diploma] %></h5>
      </div>
      <div>
        <%= locals[:date] %>
      </div>
    </div>
    <%= locals[:school] %>
  </div>
</div>
