<div class="card-portfolio">


    <div class="content">
        <p><%= locals[:appli_name] %></p> <%=  link_to('<i class="fab fa-github"></i>', locals[:link_github])%> <%= link_to('<i class="far fa-eye"></i>', locals[:link_github]) %>
        <p><%= locals[:appli_description] %> </p>

    </div>
</div>
