<div class="card-edu col-xs-12 col-md-12">

  <div class='logo-edu'>
    <%= link_to(image_tag(locals[:link_img]), locals[:link_site]) %>

  </div>
    <div class="content">
        <p><%= locals[:diploma] %></p>
        <p><%= locals[:school] %>
        <%= locals[:date] %></p>
    </div>
</div>
