<div>
    <div class='logo'>
      <%= image_tag locals[:link_img] , class: "avatar-large" %>

    </div>
      <div>
        <p><%= link_to locals[:text], locals[:link_site] %></p>
      </div>
    </div>
