<div class="card-portfolio">


    <div class="content">
        <p><%= locals[:appli_name] %>

        <%= link_to locals[:link_github] do %>
          <i class="fab fa-github"></i>
        <% end %>

        <%= link_to locals[:link_site] do %>
          <i class="far fa-eye"></i>
        <% end %>
        </p>

        <p><%= locals[:appli_description] %> </p>

    </div>
</div>
