<p><i class="fab fa-windows"></i> Pack Office</p>
<p><i class="fas fa-file-code"></i> VBA</p>
<p><i class="far fa-gem"></i> Ruby on Rails</p>
<p><i class="fab fa-js-square"></i> Javascript</p>
<p><i class="fab fa-html5"></i> HTML, CSS</p>
