<p><i class="fas fa-phone-square"></i> +55 (11) 99595-2363</p>
<p><i class="fas fa-at"></i> <%= mail_to "nicolas.eymenier@edhec.com", "nicolas.eymenier@edhec.com" %></p>
<p><a href="https://www.linkedin.com/in/nicolas-eymenier-frm-63012b60/"><i class="fab fa-linkedin"></i> LinkedIn: Nicolas Eymenier</a></p>
<p><a href="https://github.com/NicoEym/"><i class="fab fa-github"></i> GitHub: NicoEym</a></p>
