.card-intro {
  overflow: hidden;
  height: 120px;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  display: flex;
  align-items: center;
}

.card-intro img {
  height: 80%;
  width: 100px;
  object-fit: cover;
}

.card-intro h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.card-intro p {
  font-size: 16px;
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 0;
  margin-top: 8px;
}

.card-intro .card-intro-infos {
  padding: 16px;

}


.card-company {
  overflow: hidden;
  width: 100%;
  box-shadow: 0 0 5px rgba(0,0,0,0.1);
  display: flex;
  align-items: center;
  padding: 0.5em;
  // margin-top: 0.5em;
  // margin-bottom: 0.5em;

}


.card-company .content {
  padding: 0.5em;
  width: 100%;
  vertical-align: baseline;
}
.card-edu {
  overflow: hidden;
  height: 5rem;

  box-shadow: 0 0 15px rgba(0,0,0,0.1);
  display: flex;
  align-items: center;
  padding: 1em;
  // margin-top: 0.5em;
  // margin-bottom: 0.5em;
}

.card-edu .content {
  padding: 1em;
  width: 100%;
}

.card-portfolio {
  overflow: hidden;
  height: 5rem;
  width: 100%;
  box-shadow: 0 0 5px rgba(0,0,0,0.1);
  padding: 1em;
  // margin-top: 0.5em;
  // margin-bottom: 0.5em;
}
