<div class='container hidden-style'>
   <div class="row justify-center">
      <h3>Contact:</h3>
      <p><i class="fas fa-map-marker-alt"></i>Alameda Franca 1645, Apto 121, Jardim Paulista, CEP 01422-005, São Paulo, SP, Brésil</p>
      <p><i class="fas fa-phone-square"></i>+55 (11) 99595-2363</p>
      <p><i class="fas fa-at"></i>nicolas.eymenier@edhec.com</p>
      <p><i class="fab fa-linkedin"></i>Profil LinkedIn</p>
    </div>



  <div>
    <h1>Langues</h1>
    <p>Français</p>
    <p>Anglais</p>
    <p>Portugais</p>
    <p>Espagnol</p>
  </div>
</div>
