 <div class='container hidden-style' id="spanish-page">
   <div class="row justify-center">
      <h3>Contacto:</h3>
      <p><i class="fas fa-map-marker-alt"></i>Alameda Franca 1645, Apto 121, Jardim Paulista, CEP 01422-005, São Paulo, SP, Brail</p>
      <p><i class="fas fa-phone-square"></i>+55 (11) 99595-2363</p>
      <p><i class="fas fa-at"></i>nicolas.eymenier@edhec.com</p>
      <p><i class="fab fa-linkedin"></i>Perfil LinkedIn</p>
    </div>




  <div>
    <h1>Idiomas</h1>
    <p>Frances</p>
    <p>Ingles</p>
    <p>Portgugues</p>
    <p>Español</p>
  </div>
</div>
